<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>
Liste des inscrits
</title>
<link
    rel="stylesheet"
    href="/static/css/exportInscrits.css?v=999"
>
</head>
<body>

<!-- password screen -->
<div id="password-screen" class="password-screen">

    <div class="password-info">
        <h2>Liste des inscrits</h2>
        <p>
            Ce mot de passe se trouve dans le mail :<br>
            de confirmation de votre inscription<br>
        </p>
        <input
            type="password"
            id="pwd-input"
            class="password-input"
            placeholder="Mot de passe liste inscrits"
            autofocus
            onkeydown="
                if(event.key==='Enter'){
                    checkPassword();
                }
            "
        >
        <p id="pwd-error" style="display:none">Mot de passe incorrect</p>
    </div>
</div>

<!-- contenu masqué -->
<div id="liste-screen" style="display:none">
    <!-- HEADER -->
    <div class="header">
        <h1>
            Liste des inscrits
        </h1>
    </div>
    <!-- container -->
    <div class="container">

        <!-- toolbar -->
        <div
            class="toolbar-mobile"
            style="margin-bottom:40px;"
        >
        <!-- stats -->
        <div
            class="stats"
            id="statsContainer"
        >
        </div>
        <!-- tableau -->
        <div class="table-container">
            <div id="resultat"></div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        Tennis de Table Thuirinois
    </div>
</div>

<!-- javascript -->
<script type="module"
src="/static/javascript/exportInscrits.js">
</script>

<script>
async function checkPassword() {

    const pwd =
        document.getElementById("pwd-input")
        .value
        .trim();
    const res = await fetch(
        "/check-liste-password",
        {
            method: "POST",headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ pwd })
        }
    );
    const data = await res.json();
    if (data.success) {
        document.getElementById("password-screen").style.display = "none";
        document.getElementById("liste-screen").style.display = "block";
        chargerInscrits();

    } else {
        document.getElementById("pwd-error").style.display = "block";
        document.getElementById("pwd-input").focus();
        document.getElementById("pwd-input").select();
    }
}
</script>
</body>
</html>
