<!-- ===========================================
     Page web HTML  (Inscription Tournoi)
     HTML crée une page web pour
     Entrer un numéro de licence
     Vérifier le joueur
     Choisir des tableaux (catégories)
     Entrer son email
     Valider l’inscription
     Afficher un récapitulatif
     Montrtr un message de succès
================================================ -->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/style.css?v=129">
<script type="module" src="/static/javascript/app.js"></script>
<script type="module" src="/static/javascript/admin.js"></script>
<link rel="icon" href="/static/favicon.ico">
</head>

<body>
<img src="/static/Logo.png" alt="Logo du club" class="logo">
<div class="page">
<div class="container">
<div id="inscriptionRow">

<!-- Licence  -->

<div id="licenceCard" class="card">
<h2>Inscription Tournoi {{ NOM_TOURNOI }}</h2>
<p>Du <span style="color: #2e7d32; font-weight: bold;">{{ DATE_TOURNOI }}</span></p>

<!-- Numéro de licence -->
<div class="licence-input">

<input id="licence"
placeholder="N° licence"
inputmode="numeric"
oninput="this.value=this.value.replace(/[^0-9]/g,'')">
<button class="licence-btn" onclick="check()">OK</button>
<span class="licence-icon"></span>

</div>
<div id="licenceError" class="licence-error hidden"></div>
<div id="result"></div>
<div id="alreadyMsg" class="hidden infoBox">
⚠️ Vous êtes déjà inscrit.<br>
Si vous souhaitez modifier votre inscription, merci d'envoyer un mail.
</div>
</div>

<!-- Inscription -->

<div id="inscriptionCard" class="card hidden">
<h2>🏓Selection des Tableaux 🏓</h2>
<div class="email-row">
     <input id="email" type="email" placeholder="Renseigne ton adresse mail">
     <button id="sendCodeBtn" class="btn-code blink">
          Envoie le code
     </button>
<!--     <button class="btn-code blink" onclick="sendCode()">Envoie le code</button> -->
</div>
<div id="emailError" class="error"></div>
<div class="code-row">
    <input id="verificationCode" placeholder="Saisir le Code reçu par mail">
    <button class="btn-code" onclick="verifyCode()">Vérifie le code</button>
</div>

<div id="tableauxContainer" class="hidden"></div>
<button id="btnValider" onclick="sendInscription()" style="display:none;">
Valider
</button>
<div id="totalPrix" class="hidden"></div>

</div> <!--  fin ici -->

<!-- Recap -->

<div id="recapCard" class="hidden">
    <div class="card" style="max-width:400px;margin:auto">
        <h2> Récapitulatif </h2>
        <div id="recapContent"></div>
    </div>
</div>

<!-- Modal -->

<div id="errorModal" class="modal hidden">
<div class="modal-box">
<h3>Erreur</h3>
<p id="modalMsg"></p>
<button onclick="closeModal()">OK</button>
</div>
</div>

<!-- Admin -->

<button class="admin-btn" onclick="loginAdmin()" style="position:fixed; top:10px; right:35px;">
Admin
</button>

<button id="logoutBtn"
onclick="logoutAdmin()"
style="position:fixed; top:50px; right:10px;">
Logout admin
</button>

<!-- Success -->

<div id="successCard" class="hidden card">
<h2 style="color:green">✅ Inscription enregistrée</h2>
<p>
Merci pour votre inscription.<br>
Redirection automatique...

</p>
</div>
...
</div>

<div style="position:fixed; bottom:5px; right:10px; font-size:11px; opacity:0.5; color: white;">
Tennis de Table Thuirinois XDC Version : v2.9
</div>

</body>
</html>
</body>
</html>